

<table>
   <tr>
       <!-- Iterate over and populate table with the attributes from the item-->
        <!-- <td ng-repeat="stuff in $ctrl.pheno.attributes" ng-click="$ctrl.toggle()">{{stuff}} </td> -->
        <!-- <td> ctrl.pheno.position </td> -->
        <td> {{$ctrl.pheno.nameChinese}} </td>
        <!-- <td> {{ctrl.pheno.highest_pos}} </td>
        <td> pheno.position </td> -->
        <td> {{$ctrl.pheno.namePinyin}} </td>
        <td> {{$ctrl.pheno.originalRegion}} </td>
        <td> {{$ctrl.pheno.gender}} </td>
        <td> {{$ctrl.pheno.dynasty}} </td>
        <td> {{$ctrl.pheno.emperor}} </td>
        <!-- <td> {{$ctrl.pheno.highestPosition}} </td> -->

        <td ng-click="$ctrl.toggle()">{{stuff}} Learn More </td>


        <hr class="lineDrawer">

    </tr>
</table>
