<!DOCTYPE html>
<html>

  <div ng-init="friends = [
   {
     'name': '',
     'phone': '',
     'third': ''
   },
   {
     'name': '孟卿',
     'phone': '疏廣',
     'third': '師徒'
   },
   {
     'name': '孟卿',
     'phone': '孟喜',
     'third': '師徒'
   },
   {
     'name': '孟卿',
     'phone': '后倉',
     'third': '師徒'
   },
   {
     'name': '蕭奮',
     'phone': '孟卿',
     'third': '師徒'
   },
   {
     'name': '孟喜',
     'phone': '白光',
     'third': '師徒'
   },
   {
     'name': '孟喜',
     'phone': '翟牧',
     'third': '師徒'
   },
   {
     'name': '后倉',
     'phone': '戴德',
     'third': '師徒'
   },
   {
     'name': '后倉',
     'phone': '戴聖',
     'third': '師徒'
   },
   {
     'name': '后倉',
     'phone': '萧望之',
     'third': '師徒'
   },
   {
     'name': '后倉',
     'phone': '通漢',
     'third': '師徒'
   },
   {
     'name': '后倉',
     'phone': '慶普',
     'third': '師徒'
   },
   {
     'name': '后倉',
     'phone': '匡衡',
     'third': '師徒'
   },
   {
     'name': '后倉',
     'phone': '翼奉',
     'third': '師徒'
   },
   {
     'name': '夏侯始昌',
     'phone': '后倉',
     'third': '師徒'
   },
   {
     'name': '夏侯始昌',
     'phone': '夏侯勝',
     'third': '師徒'
   },
   {
     'name': '蕑卿',
     'phone': '夏侯勝',
     'third': '師徒'
   },
   {
     'name': '夏侯勝',
     'phone': '萧望之',
     'third': '師徒'
   },
   {
     'name': '夏侯勝',
     'phone': '夏侯建',
     'third': '師徒'
   },
   {
     'name': '夏侯勝',
     'phone': '孔霸  ',
     'third': '師徒'
   },
   {
     'name': '夏侯勝',
     'phone': '周堪',
     'third': '師徒'
   },
   {
     'name': '夏侯勝',
     'phone': '黃霸',
     'third': '師徒'
   },
   {
     'name': '田王孫',
     'phone': '孟喜',
     'third': '師徒'
   },
   {
     'name': '田王孫',
     'phone': '梁丘賀',
     'third': '師徒'
   },
   {
     'name': '田王孫',
     'phone': '施讎',
     'third': '師徒'
   },
   {
     'name': '施讎',
     'phone': '梁丘臨',
     'third': '師徒'
   },
   {
     'name': '施讎',
     'phone': '張禹',
     'third': '師徒'
   },
   {
     'name': '施讎',
     'phone': '魯伯',
     'third': '師徒'
   },
   {
     'name': '梁丘賀',
     'phone': '梁丘臨',
     'third': '師徒'
   },
   {
     'name': '梁丘賀',
     'phone': '五鹿充宗',
     'third': '師徒'
   },
   {
     'name': '梁丘賀',
     'phone': '王駿',
     'third': '師徒'
   },
   {
     'name': '梁丘賀',
     'phone': '張禹',
     'third': '師徒'
   },
   {
     'name': '京房',
     'phone': '梁丘賀',
     'third': '師徒'
   },
   {
     'name': '王吉 ',
     'phone': '張禹',
     'third': '師徒'
   },
   {
     'name': '王吉 ',
     'phone': '王駿',
     'third': '師徒'
   },
   {
     'name': '匡衡',
     'phone': '師丹',
     'third': '師徒'
   },
   {
     'name': '匡衡',
     'phone': '匡咸',
     'third': '師徒'
   },
   {
     'name': '匡衡',
     'phone': '伏理',
     'third': '師徒'
   },
   {
     'name': '匡衡',
     'phone': '滿 昌',
     'third': '師徒'
   },
   {
     'name': '白奇',
     'phone': '萧望之',
     'third': '師徒'
   },
   {
     'name': '歐陽高',
     'phone': '夏侯建',
     'third': '師徒'
   },
   {
     'name': '周堪',
     'phone': '牟卿',
     'third': '師徒'
   },
   {
     'name': '周堪',
     'phone': '許商',
     'third': '師徒'
   },
   {
     'name': '張禹',
     'phone': '彭宣',
     'third': '師徒'
   },
   {
     'name': '張禹',
     'phone': '崇子平',
     'third': '師徒'
   },
   {
     'name': '梁丘臨',
     'phone': '王駿',
     'third': '師徒'
   },
   {
     'name': '張禹',
     'phone': '彭宣',
     'third': '師徒'
   },
   {
     'name': '張禹',
     'phone': '戴崇',
     'third': '師徒'
   },
   {
     'name': '疏廣',
     'phone': '筦路',
     'third': '師徒'
   },
   {
     'name': '筦路',
     'phone': '孫寶',
     'third': '師徒'
   },
   {
     'name': '王式',
     'phone': '薛廣德',
     'third': '師徒'
   },
   {
     'name': '嬴公',
     'phone': '貢禹',
     'third': '師徒'
   },
   {
     'name': '嬴公',
     'phone': '孟卿',
     'third': '師徒'
   },
   {
     'name': '嬴公',
     'phone': '眭孟',
     'third': '師徒'
   },
   {
     'name': '眭孟',
     'phone': '嚴彭祖',
     'third': '師徒'
   },
   {
     'name': '眭孟',
     'phone': '顏安樂',
     'third': '師徒'
   },
   {
     'name': '韋賢',
     'phone': '韋玄成',
     'third': '師徒'
   },
   {
     'name': '韋賢',
     'phone': '韋賞',
     'third': '師徒'
   },
   {
     'name': '嚴彭祖',
     'phone': '王中',
     'third': '師徒'
   },
   {
     'name': '薛廣德  ',
     'phone': '龔勝 ',
     'third': '師徒'
   },
   {
     'name': '牟卿',
     'phone': '孔光',
     'third': '師徒'
   },
   {
     'name': '孟卿',
     'phone': '孟喜',
     'third': '父子'
   },
   {
     'name': '夏侯勝',
     'phone': '夏侯建',
     'third': '堂兄？'
   },
   {
     'name': '梁丘賀',
     'phone': '梁丘臨',
     'third': '父子'
   },
   {
     'name': '王吉 ',
     'phone': '王駿',
     'third': '父子'
   },
   {
     'name': '匡衡',
     'phone': '匡咸',
     'third': '父子'
   },
   {
     'name': '五鹿充宗',
     'phone': '石顯',
     'third': '友人'
   },
   {
     'name': '張敞',
     'phone': '嚴延年',
     'third': '友人'
   },
   {
     'name': '張敞',
     'phone': '蕭望之',
     'third': '友人'
   },
   {
     'name': '張敞',
     'phone': '于定國',
     'third': '友人'
   },
   {
     'name': '蕭育',
     'phone': '陳咸、',
     'third': '友人'
   },
   {
     'name': '蕭育',
     'phone': '朱博',
     'third': '友人'
   },
   {
     'name': '匡衡',
     'phone': '翼奉',
     'third': '友人'
   },
   {
     'name': '楊惲',
     'phone': '韋玄成、',
     'third': '友人'
   },
   {
     'name': '楊惲',
     'phone': '張敞',
     'third': '友人'
   },
   {
     'name': '楊惲',
     'phone': '孫會宗',
     'third': '友人'
   },
   {
     'name': '王吉',
     'phone': '貢禹',
     'third': '友人'
   },
   {
     'name': '魏相',
     'phone': '丙吉',
     'third': '友人'
   },
   {
     'name': '蕭望之',
     'phone': '周堪',
     'third': '同盟'
   },
   {
     'name': '蕭望之',
     'phone': '劉向',
     'third': '同盟'
   },
   {
     'name': '蕭望之',
     'phone': '金敞',
     'third': '同盟'
   },
   {
     'name': '周堪',
     'phone': '劉向',
     'third': '同盟'
   },
   {
     'name': '周堪',
     'phone': '金敞',
     'third': '同盟'
   },
   {
     'name': '劉向',
     'phone': '金敞',
     'third': '同盟'
   },
   {
     'name': '翟方進',
     'phone': '師丹',
     'third': '同盟'
   },
   {
     'name': '匡衡',
     'phone': '貢禹',
     'third': '同盟'
   },
   {
     'name': '杜延年',
     'phone': '張敞',
     'third': '支持'
   },
   {
     'name': '于定國',
     'phone': '于永',
     'third': '父子'
   },
   {
     'name': '于永',
     'phone': '館陶公主施',
     'third': '夫妻'
   },
   {
     'name': '館陶公主施宣帝',
     'phone': '',
     'third': '父女'
   },
   {
     'name': '蕭望之',
     'phone': '蕭育',
     'third': '父子'
   },
   {
     'name': '蕭望之',
     'phone': '蕭咸',
     'third': '父子'
   },
   {
     'name': '蕭望之',
     'phone': '蕭由',
     'third': '父子'
   },
   {
     'name': '匡衡',
     'phone': '匡咸',
     'third': '父子'
   },
   {
     'name': '王吉',
     'phone': '王駿',
     'third': '父子'
   },
   {
     'name': '梁丘賀',
     'phone': '梁丘臨',
     'third': '父子'
   },
   {
     'name': '丙吉',
     'phone': '丙顯',
     'third': '父子'
   },
   {
     'name': '嚴彭祖',
     'phone': '嚴延年',
     'third': '兄弟'
   },
   {
     'name': '張敞',
     'phone': '張武',
     'third': '兄弟'
   },
   {
     'name': '張敞',
     'phone': '張竦',
     'third': '祖孫'
   },
   {
     'name': '嚴延年',
     'phone': '梁丘賀',
     'third': '敵人'
   },
   {
     'name': '蕭望之',
     'phone': '張敞',
     'third': '批判'
   },
   {
     'name': '蕭望之',
     'phone': '馮奉世',
     'third': '批判'
   },
   {
     'name': '蕭望之',
     'phone': '韓延壽',
     'third': '敵人'
   },
   {
     'name': '蕭望之',
     'phone': '弘恭',
     'third': '敵人'
   },
   {
     'name': '蕭望之',
     'phone': '石顯',
     'third': '敵人'
   },
   {
     'name': '王駿',
     'phone': '匡衡',
     'third': '劾奏'
   },
   {
     'name': '韋玄成',
     'phone': '劉更生',
     'third': '彈劾'
   },
   {
     'name': '貢禹',
     'phone': '劉更生',
     'third': '彈劾'
   },
   {
     'name': '史高',
     'phone': '蕭望之',
     'third': '有隙'
   },
   {
     'name': '匡衡',
     'phone': '石顯',
     'third': '彈劾'
   },
   {
     'name': '甄譚',
     'phone': '石顯',
     'third': '彈劾'
   },
   {
     'name': '王尊',
     'phone': '匡衡',
     'third': '劾奏'
   },
   {
     'name': '司隸校尉駿',
     'phone': '匡衡',
     'third': '劾奏'
   },
   {
     'name': '少府忠',
     'phone': '匡衡',
     'third': '劾奏'
   },
   {
     'name': '魏相',
     'phone': '萧望之',
     'third': '推薦'
   },
   {
     'name': '丙吉',
     'phone': '萧望之',
     'third': '推薦'
   },
   {
     'name': '丙吉',
     'phone': '王仲翁',
     'third': '推薦'
   },
   {
     'name': '丙吉',
     'phone': '陳萬年',
     'third': '推薦'
   },
   {
     'name': '丙吉',
     'phone': '于定國',
     'third': '推薦'
   },
   {
     'name': '丙吉',
     'phone': '杜延年',
     'third': '推薦'
   },
   {
     'name': '萧望之',
     'phone': '劉更生',
     'third': '推薦'
   },
   {
     'name': '萧望之',
     'phone': '匡衡',
     'third': '推薦'
   },
   {
     'name': '萧望之',
     'phone': '張禹',
     'third': '推薦'
   },
   {
     'name': '楊興',
     'phone': '匡衡',
     'third': '推薦'
   },
   {
     'name': '史高',
     'phone': '匡衡',
     'third': '推薦'
   },
   {
     'name': '陳咸',
     'phone': '王駿',
     'third': '推薦'
   },
   {
     'name': '匡衡',
     'phone': '王駿',
     'third': '推薦'
   },
   {
     'name': '',
     'phone': '',
     'third': ''
   },
   {
     'name': '萧望之',
     'phone': '薛廣德',
     'third': '推薦'
   },
   {
     'name': '萧望之',
     'phone': '匡衡',
     'third': '推薦'
   },
   {
     'name': '石顯',
     'phone': '貢禹',
     'third': '推薦'
   },
   {
     'name': '魏相',
     'phone': '韓延壽',
     'third': '推薦'
   },
   {
     'name': '于永',
     'phone': '馮逡',
     'third': '推薦'
   },
   {
     'name': '陳咸',
     'phone': '蕭育',
     'third': '推薦'
   },
   {
     'name': '陳咸',
     'phone': '朱博',
     'third': '推薦'
   },
   {
     'name': '王鳳',
     'phone': '朱博',
     'third': '推舉'
   },
   {
     'name': '師丹',
     'phone': '馬宮',
     'third': '推舉'
   },
   {
     'name': '翟方進',
     'phone': '師丹',
     'third': '推舉'
   },
   {
     'name': '孔光',
     'phone': '師丹',
     'third': '推舉'
   },
   {
     'name': '',
     'phone': '',
     'third': ''
   },
   {
     'name': '蕭望之',
     'phone': '匡衡',
     'third': '同師'
   },
   {
     'name': '魏相',
     'phone': '萧望之',
     'third': '推薦'
   },
   {
     'name': '丙吉',
     'phone': '萧望之',
     'third': '推薦'
   },
   {
     'name': '丙吉',
     'phone': '王仲翁',
     'third': '推薦'
   },
   {
     'name': '丙吉',
     'phone': '陳萬年',
     'third': '推薦'
   },
   {
     'name': '丙吉',
     'phone': '于定國',
     'third': '推薦'
   },
   {
     'name': '丙吉',
     'phone': '杜延年',
     'third': '推薦'
   },
   {
     'name': '萧望之',
     'phone': '劉更生',
     'third': '推薦'
   },
   {
     'name': '萧望之',
     'phone': '匡衡',
     'third': '推薦'
   },
   {
     'name': '萧望之',
     'phone': '張禹',
     'third': '推薦'
   },
   {
     'name': '楊興',
     'phone': '匡衡',
     'third': '推薦'
   },
   {
     'name': '史高',
     'phone': '匡衡',
     'third': '推薦'
   },
   {
     'name': '陳咸',
     'phone': '王駿',
     'third': '推薦'
   },
   {
     'name': '匡衡',
     'phone': '王駿',
     'third': '推薦'
   },
   {
     'name': '',
     'phone': '',
     'third': ''
   },
   {
     'name': '萧望之',
     'phone': '薛廣德',
     'third': '推薦'
   },
   {
     'name': '萧望之',
     'phone': '匡衡',
     'third': '推薦'
   },
   {
     'name': '石顯',
     'phone': '貢禹',
     'third': '推薦'
   },
   {
     'name': '魏相',
     'phone': '韓延壽',
     'third': '推薦'
   },
   {
     'name': '于永',
     'phone': '馮逡',
     'third': '推薦'
   },
   {
     'name': '陳咸',
     'phone': '蕭育',
     'third': '推薦'
   },
   {
     'name': '陳咸',
     'phone': '朱博',
     'third': '推薦'
   },
   {
     'name': '王鳳',
     'phone': '朱博',
     'third': '推舉'
   },
   {
     'name': '師丹',
     'phone': '馬宮',
     'third': '推舉'
   },
   {
     'name': '翟方進',
     'phone': '師丹',
     'third': '推舉'
   },
   {
     'name': '孔光',
     'phone': '師丹',
     'third': '推舉'
   },
   {
     'name': '',
     'phone': '',
     'third': ''
   },
   {
     'name': '蕭望之',
     'phone': '匡衡',
     'third': '同師'
   },
   {
     'name': '魏相',
     'phone': '萧望之',
     'third': '推薦'
   },
   {
     'name': '丙吉',
     'phone': '萧望之',
     'third': '推薦'
   },
   {
     'name': '丙吉',
     'phone': '王仲翁',
     'third': '推薦'
   },
   {
     'name': '丙吉',
     'phone': '陳萬年',
     'third': '推薦'
   },
   {
     'name': '丙吉',
     'phone': '于定國',
     'third': '推薦'
   },
   {
     'name': '丙吉',
     'phone': '杜延年',
     'third': '推薦'
   },
   {
     'name': '萧望之',
     'phone': '劉更生',
     'third': '推薦'
   },
   {
     'name': '萧望之',
     'phone': '匡衡',
     'third': '推薦'
   },
   {
     'name': '萧望之',
     'phone': '張禹',
     'third': '推薦'
   },
   {
     'name': '楊興',
     'phone': '匡衡',
     'third': '推薦'
   },
   {
     'name': '史高',
     'phone': '匡衡',
     'third': '推薦'
   },
   {
     'name': '陳咸',
     'phone': '王駿',
     'third': '推薦'
   },
   {
     'name': '匡衡',
     'phone': '王駿',
     'third': '推薦'
   },
   {
     'name': '',
     'phone': '',
     'third': ''
   },
   {
     'name': '萧望之',
     'phone': '薛廣德',
     'third': '推薦'
   },
   {
     'name': '萧望之',
     'phone': '匡衡',
     'third': '推薦'
   },
   {
     'name': '石顯',
     'phone': '貢禹',
     'third': '推薦'
   },
   {
     'name': '魏相',
     'phone': '韓延壽',
     'third': '推薦'
   },
   {
     'name': '于永',
     'phone': '馮逡',
     'third': '推薦'
   },
   {
     'name': '陳咸',
     'phone': '蕭育',
     'third': '推薦'
   },
   {
     'name': '陳咸',
     'phone': '朱博',
     'third': '推薦'
   },
   {
     'name': '王鳳',
     'phone': '朱博',
     'third': '推舉'
   },
   {
     'name': '師丹',
     'phone': '馬宮',
     'third': '推舉'
   },
   {
     'name': '翟方進',
     'phone': '師丹',
     'third': '推舉'
   },
   {
     'name': '孔光',
     'phone': '師丹',
     'third': '推舉'
   },
   {
     'name': '蕭望之',
     'phone': '匡衡',
     'third': '同師'
   },
   {
     'name': '魏相',
     'phone': '萧望之',
     'third': '辟屬'
   },
   {
     'name': '史高',
     'phone': '匡衡',
     'third': '辟屬'
   },
   {
     'name': '萧望之',
     'phone': '薛廣德',
     'third': '辟屬'
   },
   {
     'name': '許延壽',
     'phone': '嚴延年',
     'third': '辟屬'
   },
   {
     'name': '于永',
     'phone': '王嘉',
     'third': '辟屬'
   },
   {
     'name': '蕭望之',
     'phone': '薛廣德',
     'third': '辟屬'
   },
   {
     'name': '王鳳',
     'phone': '蕭育',
     'third': '辟屬'
   },
   {
     'name': '王鳳',
     'phone': '陳咸',
     'third': '辟屬'
   },
   {
     'name': '王鳳',
     'phone': '朱博',
     'third': '辟屬'
   },
   {
     'name': '丞相西曹衛將軍掾',
     'phone': '蕭由',
     'third': '辟屬'
   }
  ]"></div>

<style>
body {
  font-family: Arial;
  color: white;
}

.split {
  height: 100%;
  width: 75%;
  position: fixed;
  z-index: 1;
  top: 1;
  overflow-x: hidden;
  padding-top: 25px;
}

.left {
  left: 0;
  background-color: white;
}

.right {
  right: 0;
  background-color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-align: left;
}
</style>
</head>
<body>

<div class="split left">
  <!-- <div class="centered"> -->
    <label>Search: <input ng-model="searchText"></label>

    <table id="searchTextResults">
      <tr><th>人物1</th><th>人物2</th><th>關係1</th></tr>
      <tr ng-repeat="friend in friends | filter:searchText">
        <td>{{friend.name}}</td>
        <td>{{friend.phone}}</td>
        <td>{{friend.third}}</td>
      </tr>
    </table>

    <script>
      var expectFriendNames = function(expectedNames, key) {
        element.all(by.repeater(key + ' in friends').column(key + '.name')).then(function(arr) {
          arr.forEach(function(wd, i) {
            expect(wd.getText()).toMatch(expectedNames[i]);
          });
        });
      };
    </script>
  <!-- </div> -->
</div>

<div class="split right">
  <div class="centered">
    <iframe src="http://hdlab.stanford.edu/palladio-app/#/upload"  width="90%" height="575px"</iframe>
  </div>
</div>

</body>

</body>
</html>
