<!DOCTYPE html>
<html>
  <body>

    <div ng-controller="relationships">

    <p>Type a letter in the input field:</p>

    <p><input type="text" ng-model="test"></p>

    <ul>
      <li ng-repeat="x in names | filter:test">
        {{ x }}
      </li>
    </ul>

    </div>

    <script>
      angular.module('myApp', []).controller('namesCtrl', function($scope) {
          $scope.names = [
            ["孟卿","疏廣","師徒" ],
            ["孟卿","孟喜","師徒" ],
            ["孟卿","后倉","師徒" ],
            ["蕭奮","孟卿","師徒" ],
            ["孟喜","白光","師徒" ],
            ["孟喜","翟牧","師徒" ],
            ["后倉","戴德","師徒" ],
            ["后倉","戴聖","師徒" ],
            ["后倉","萧望之","師徒" ],
            ["后倉","通漢","師徒" ],
            ["后倉","慶普","師徒" ],
            ["后倉","匡衡","師徒" ],
            ["后倉","翼奉","師徒" ],
            ["夏侯始昌","后倉","師徒" ],
            ["夏侯始昌","夏侯勝","師徒" ],
            ["蕑卿","夏侯勝","師徒" ],
            ["夏侯勝","萧望之","師徒" ],
            ["夏侯勝","夏侯建","師徒" ],
            ["夏侯勝","孔霸  ","師徒" ],
            ["夏侯勝","周堪","師徒" ],
            ["夏侯勝","黃霸","師徒" ],
            ["田王孫","孟喜","師徒" ],
            ["田王孫","梁丘賀","師徒" ],
            ["田王孫","施讎","師徒" ],
            ["施讎","梁丘臨","師徒" ],
            ["施讎","張禹","師徒" ],
            ["施讎","魯伯","師徒" ],
            ["梁丘賀","梁丘臨","師徒" ],
            ["梁丘賀","五鹿充宗","師徒" ],
            ["梁丘賀","王駿","師徒" ],
            ["梁丘賀","張禹","師徒" ],
            ["京房","梁丘賀","師徒" ],
            ["王吉 ","張禹","師徒" ],
            ["王吉 ","王駿","師徒" ],
            ["匡衡","師丹","師徒" ],
            ["匡衡","匡咸","師徒" ],
            ["匡衡","伏理","師徒" ],
            ["匡衡","滿 昌","師徒" ],
            ["白奇","萧望之","師徒" ],
            ["歐陽高","夏侯建","師徒" ],
            ["周堪","牟卿","師徒" ],
            ["周堪","許商","師徒" ],
            ["張禹","彭宣","師徒" ],
            ["張禹","崇子平","師徒" ],
            ["梁丘臨","王駿","師徒" ],
            ["張禹","彭宣","師徒" ],
            ["張禹","戴崇","師徒" ],
            ["疏廣","筦路","師徒" ],
            ["筦路","孫寶","師徒" ],
            ["王式","薛廣德","師徒" ],
            ["嬴公","貢禹","師徒" ],
            ["嬴公","孟卿","師徒" ],
            ["嬴公","眭孟","師徒" ],
            ["眭孟","嚴彭祖","師徒" ],
            ["眭孟","顏安樂","師徒" ],
            ["韋賢","韋玄成","師徒" ],
            ["韋賢","韋賞","師徒" ],
            ["嚴彭祖","王中","師徒" ],
            ["薛廣德  ","龔勝 ","師徒" ],
            ["牟卿","孔光","師徒" ],
            ["孟卿","孟喜","父子" ],
            ["夏侯勝","夏侯建","堂兄？" ],
            ["梁丘賀","梁丘臨","父子" ],
            ["王吉 ","王駿","父子" ],
            ["匡衡","匡咸","父子" ],
            ["五鹿充宗","石顯","友人" ],
            ["張敞","嚴延年","友人" ],
            ["張敞","蕭望之","友人" ],
            ["張敞","于定國","友人" ],
            ["蕭育","陳咸、","友人" ],
            ["蕭育","朱博","友人" ],
            ["匡衡","翼奉","友人" ],
            ["楊惲","韋玄成、","友人" ],
            ["楊惲","張敞","友人" ],
            ["楊惲","孫會宗","友人" ],
            ["王吉","貢禹","友人" ],
            ["魏相","丙吉","友人" ],
            ["蕭望之","周堪","同盟" ],
            ["蕭望之","劉向","同盟" ],
            ["蕭望之","金敞","同盟" ],
            ["周堪","劉向","同盟" ],
            ["周堪","金敞","同盟" ],
            ["劉向","金敞","同盟" ],
            ["翟方進","師丹","同盟" ],
            ["匡衡","貢禹","同盟" ],
            ["杜延年","張敞","支持" ],
            ["于定國","于永","父子" ],
            ["于永","館陶公主施","夫妻" ],
            ["館陶公主施宣帝","","父女" ],
            ["蕭望之","蕭育","父子" ],
            ["蕭望之","蕭咸","父子" ],
            ["蕭望之","蕭由","父子" ],
            ["匡衡","匡咸","父子" ],
            ["王吉","王駿","父子" ],
            ["梁丘賀","梁丘臨","父子" ],
            ["丙吉","丙顯","父子" ],
            ["嚴彭祖","嚴延年","兄弟" ],
            ["張敞","張武","兄弟" ],
            ["張敞","張竦","祖孫" ],
            ["嚴延年","梁丘賀","敵人" ],
            ["蕭望之","張敞","批判" ],
            ["蕭望之","馮奉世","批判" ],
            ["蕭望之","韓延壽","敵人" ],
            ["蕭望之","弘恭","敵人" ],
            ["蕭望之","石顯","敵人" ],
            ["王駿","匡衡","劾奏" ],
            ["韋玄成","劉更生","彈劾" ],
            ["貢禹","劉更生","彈劾" ],
            ["史高","蕭望之","有隙" ],
            ["匡衡","石顯","彈劾" ],
            ["甄譚","石顯","彈劾" ],
            ["王尊","匡衡","劾奏" ],
            ["司隸校尉駿","匡衡","劾奏" ],
            ["少府忠","匡衡","劾奏" ],
            ["魏相","萧望之","推薦" ],
            ["丙吉","萧望之","推薦" ],
            ["丙吉","王仲翁","推薦" ],
            ["丙吉","陳萬年","推薦" ],
            ["丙吉","于定國","推薦" ],
            ["丙吉","杜延年","推薦" ],
            ["萧望之","劉更生","推薦" ],
            ["萧望之","匡衡","推薦" ],
            ["萧望之","張禹","推薦" ],
            ["楊興","匡衡","推薦" ],
            ["史高","匡衡","推薦" ],
            ["陳咸","王駿","推薦" ],
            ["匡衡","王駿","推薦" ],
            ["","","" ],
            ["萧望之","薛廣德","推薦" ],
            ["萧望之","匡衡","推薦" ],
            ["石顯","貢禹","推薦" ],
            ["魏相","韓延壽","推薦" ],
            ["于永","馮逡","推薦" ],
            ["陳咸","蕭育","推薦" ],
            ["陳咸","朱博","推薦" ],
            ["王鳳","朱博","推舉" ],
            ["師丹","馬宮","推舉" ],
            ["翟方進","師丹","推舉" ],
            ["孔光","師丹","推舉" ],
            ["","","" ],
            ["蕭望之","匡衡","同師" ],
            ["魏相","萧望之","推薦" ],
            ["丙吉","萧望之","推薦" ],
            ["丙吉","王仲翁","推薦" ],
            ["丙吉","陳萬年","推薦" ],
            ["丙吉","于定國","推薦" ],
            ["丙吉","杜延年","推薦" ],
            ["萧望之","劉更生","推薦" ],
            ["萧望之","匡衡","推薦" ],
            ["萧望之","張禹","推薦" ],
            ["楊興","匡衡","推薦" ],
            ["史高","匡衡","推薦" ],
            ["陳咸","王駿","推薦" ],
            ["匡衡","王駿","推薦" ],
            ["","","" ],
            ["萧望之","薛廣德","推薦" ],
            ["萧望之","匡衡","推薦" ],
            ["石顯","貢禹","推薦" ],
            ["魏相","韓延壽","推薦" ],
            ["于永","馮逡","推薦" ],
            ["陳咸","蕭育","推薦" ],
            ["陳咸","朱博","推薦" ],
            ["王鳳","朱博","推舉" ],
            ["師丹","馬宮","推舉" ],
            ["翟方進","師丹","推舉" ],
            ["孔光","師丹","推舉" ],
            ["","","" ],
            ["蕭望之","匡衡","同師" ],
            ["魏相","萧望之","推薦" ],
            ["丙吉","萧望之","推薦" ],
            ["丙吉","王仲翁","推薦" ],
            ["丙吉","陳萬年","推薦" ],
            ["丙吉","于定國","推薦" ],
            ["丙吉","杜延年","推薦" ],
            ["萧望之","劉更生","推薦" ],
            ["萧望之","匡衡","推薦" ],
            ["萧望之","張禹","推薦" ],
            ["楊興","匡衡","推薦" ],
            ["史高","匡衡","推薦" ],
            ["陳咸","王駿","推薦" ],
            ["匡衡","王駿","推薦" ],
            ["","","" ],
            ["萧望之","薛廣德","推薦" ],
            ["萧望之","匡衡","推薦" ],
            ["石顯","貢禹","推薦" ],
            ["魏相","韓延壽","推薦" ],
            ["于永","馮逡","推薦" ],
            ["陳咸","蕭育","推薦" ],
            ["陳咸","朱博","推薦" ],
            ["王鳳","朱博","推舉" ],
            ["師丹","馬宮","推舉" ],
            ["翟方進","師丹","推舉" ],
            ["孔光","師丹","推舉" ],
            ["蕭望之","匡衡","同師" ],
            ["魏相","萧望之","辟屬" ],
            ["史高","匡衡","辟屬" ],
            ["萧望之","薛廣德","辟屬" ],
            ["許延壽","嚴延年","辟屬" ],
            ["于永","王嘉","辟屬" ],
            ["蕭望之","薛廣德","辟屬" ],
            ["王鳳","蕭育","辟屬" ],
            ["王鳳","陳咸","辟屬" ],
            ["王鳳","朱博","辟屬" ],
            ["丞相西曹衛將軍掾","蕭由","辟屬" ]
          ];
      });
    </script>
  </body>
</html>
