<!-- <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

  <a href = "./data/imperialdata.csv" download ="imperialOfficials">CSV</a></md-menu-item>
  <a href = "./data/imperialdata.json" download ="imperialOfficials">JSON</a></md-menu-item>


<div class="md-menu-demo">
  <md-menu>
   <md-button aria-label="Open dropdown" ng-click="$ctrl.openMenu($mdMenu, $event)">
    Open Dropdown
   </md-button>
   <md-menu-content width="50">
    <md-menu-item> </md-menu-item>
    <md-menu-item>  <a href = "./data/imperialdata.json" download ="imperialOfficials">JSON</a></md-menu-item>
   </md-menu-content>
  </md-menu>
</div> -->


<!DOCTYPE html>
<html>
  <head>
    <title>Title of the document</title>
    <style>
      .button {
        display: inline-block;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        background-color: #7aa8b7;
        border-radius: 6px;
        outline: none;
      }
    </style>
  </head>

  <body>
    <a class="button" href="./data/imperialdata.json" download ="imperialOfficials">JSON</a>
  </body>

  <body>
    <a class="button" href="./data/imperialdata.csv" download ="imperialOfficials">CSV</a>
  </body>

  <body>
    <a class="button" href="./data/imperialOfficials.dta" download ="imperialOfficials">STATA</a>
  </body>

  <body>
    <a class="button" href="./data/imperialOfficials.xlsx" download ="imperialOfficials">Excel</a>
  </body>

</html>
