<!DOCTYPE html>
<html>
  <head>
    <title>Title of the document</title>
    <style>
      .button {
        display: inline-block;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        background-color: #7aa8b7;
        border-radius: 6px;
        outline: none;
      }
    </style>
  </head>

  <h3> Master File </h3>
  <p> All Attributes </p>

  <body>
    <a class="button" href="./data/imperialdata.json" download ="imperialOfficials">Excel</a>
  </body>

  <hr>

  <h3> Region & Position: </h3>

  <body>
    <a class="button" href="./data/imperialdata.json" download ="imperialOfficials">JSON</a>
  </body>

  <body>
    <a class="button" href="./data/imperialdata.csv" download ="imperialOfficials">CSV</a>
  </body>

  <body>
    <a class="button" href="./data/imperialOfficials.dta" download ="imperialOfficials">STATA</a>
  </body>

  <body>
    <a class="button" href="./data/imperialOfficials.xlsx" download ="imperialOfficials">Excel</a>
  </body>

  <hr>

  <h3> Teacher-Student Relationships: </h3>

  <body>
    <a class="button" href="./data/imperialdata.json" download ="imperialOfficials">JSON</a>
  </body>

  <body>
    <a class="button" href="./data/imperialdata.csv" download ="imperialOfficials">CSV</a>
  </body>

  <body>
    <a class="button" href="./data/imperialOfficials.dta" download ="imperialOfficials">STATA</a>
  </body>

  <body>
    <a class="button" href="./data/imperialOfficials.xlsx" download ="imperialOfficials">Excel</a>
  </body>


</html>
